
.info-profile{
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes puff-in-center {
    0% {
      transform: scale(2);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
  }
  

.panel figure :hover{
    cursor: pointer;
    transform: scale(1.1);
}

h2{
    font-weight: bolder;
}

#img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid gainsboro;
    padding: 5px 0;
  }
  

  
  input #foto{
    padding: 8px 20px;
    border: 1px solid #AAA;
    border-radius: 3px;
  }